<nav class="demo-navigation mdl-navigation">
    <a class="mdl-navigation__link"  (click)="dashboard()"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
    <a class="mdl-navigation__link"  routerLink="/profile" (click)="profilerefreshed();" ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Profile</a>
     <a (click)="logout()" target="_blank" class="logout-custom-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">Logout</a>
 </nav>